{% extends "company/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Request Complete
{% endblock %}
{% block content %}
    <h2 class="display2">Request Placed Successfully </h2>
    <div class="row my-5 justify-center-around">
        <div class="col-6">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th scope='col'>Name</th>
                        <th scope='col'>Quantity</th>
                        <th scope='col'>Unit</th>
                        <th scope="col">State</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill_item in bill_items %}
                    <tr>
                        <th scope="row">{{ bill_item.item_name }}</th>
                        <td>{{ bill_item.quantity }}</td>
                        <td>{{ bill_item.unit }}</td>
                        <td>{{ bill_item.state }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <th scope="row" colspan="4" class="table-active"> No items avilable </th>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <a href="{% url 'siteer-dashboard' %}" class="btn btn-outline-secondary">Back to dashboard</a>
        </div>
    </div>
{% endblock %}