{% extends "company/base.html" %}
{% load crispy_forms_tags %}
{% block title %}
    Projects
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-6">
            <h2 class="display-2">Update Project</h2>
        </div>
        <div class="col-1 offset-1 align-self-end">
            <a href="{% url 'project-delete' id %}" class="btn btn-danger">- delete</a>
        </div>
    </div>
    <div class="row py-4">
        <div class="col-8">
            <form method="POST">
                {% csrf_token %}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-3"> Project </legend>
                    {{ form|crispy }}
                </fieldset>
                <div class="row justify-content-between pt-4">
                    <div class="col-3">
                        <a href="{% url 'project-list' %}" class="btn btn-outline-secondary">Back to projects list</a>
                    </div>
                    <div class="col-1">
                        <div class="form-group">
                            <button class="btn btn-warning" type="submit">Update</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock%}